fastapi==0.110.0
uvicorn[standard]==0.29.0
transformers==4.40.1
torch==2.1.0
accelerate==0.28.0
safetensors==0.4.2
sentencepiece==0.1.99
protobuf
numpy==1.26.4





#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118



